$grey: #797E8C;
$grey-dark: #2C2F38;
$grey-light: #EAEAF1;
$blue: #4554E5;
$blue-dark: #2139AD;
$red: #ff717c;
$red-dark: #E0362D;
$yellow: #FFC82C;
$yellow-dark: #EDA71B;

@font-face {
    font-family: 'icomoon';
    src: url('./fonts/icomoon.ttf?y01px2') format('truetype'),
    url('./fonts/icomoon.woff?y01px2') format('woff'),
    url('./fonts/icomoon.svg?y01px2') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

//magnifying glass icon
.icon-search:before {
    content: "\e91f";
}

//trash icon
.icon-trash:before {
    content: "\e925";
}

//close icon
.icon-x:before {
    content: "\e928";
}

//drag handle icon
.icon-dots:before {
    content: "\e907";
}

body,html,#myApp,.container,.jumbotron,.lists,.col {
    margin:0;
    padding:0 !important;
    height:100%;
    position:relative;
}

.container {
    width:auto;
}

h1 {
    font-size:20px !important;
}


.song-list {
    height:100%;
    overflow:auto;
    padding: 0 20px;
}

.all-songs {	
    background:	$grey-light;
    padding: 0 100px;

    .line {
	height:100px;
	width:1px;
	background:$blue;
	position:absolute;
	left:-20px;
	top:-6px;

	.circle {
	    width:9px;
	    height:9px;
	    background:$blue;
	    position:absolute;
	    border-radius:200px;
	    top:30px;
	    left:-3px;
	}
    }

    .header {
	position:relative;

	.icon-search {
	    background:$grey;
	    width:200px;
	    border-bottom-left-radius:100px;
	    border-bottom-right-radius:100px;
	    padding:5px;
	    color:white;
	    font-size:30px;
	    left:-40px;
	    position:relative;
	    z-index:1;
	}
	
	.line {
	    background:none;
	    height:100px;
	    width:2px;
	    border-left:1px dashed #bbb;
	    position:absolute;
	    left:-20px;
	    top:-6px;
	}
    }
}    

.approved-songs {
    background:$grey-dark;
    padding:100px 100px;
    h1 {
	color:white;
	text-align:center;
    }
    .song {
	padding-left:40px;
	z-index:1;
    }
    img {
	display:none;
    }

    .line {
	height:30px;
	width:2px;
	background:white;
	position:absolute;
	left:50%;
	bottom:-35px;
	z-index:0;

	.circle {
	    width:15px;
	    height:15px;
	    background:white;
	    position:absolute;
	    border-radius:200px;
	    border:1px solid black;
	    bottom:30px;
	    left:-7px;
	    text-align:center;
	    font-size:10px;
	}
    }

    h1 {
	margin-bottom:50px;
    }

    .last {
	.line {
	    display:none;
	}
    }

    .header {
	.line {
	    top:160px;
	    height:50px;
	    .circle {
		border:none;
		top:0px;
	    }
	    
	}
    }

}

.song {
    cursor:pointer;
    background:white;
    margin:20px 0;
    padding:20px;
    position:relative;
    img {
	position:absolute;
	right:-10px;
	top:15px;
	border-radius:100px;
	width:32px;
    }

    .arrow-left {
	width: 0; 
	height: 0; 
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent; 
	border-right:7px solid white;
	position:absolute;
	top:22px;
	left:-6px;
    }


    .icon-trash {
	position:absolute;
	left:-10px;
	top:13px;
	border-radius:100px;
	width:35px;
	height:35px;
	background:$red;
	text-align:center;
	font-size:25px;
	color:white;
	padding-top:5px;
	&.transp {
	    opacity:0.4;
	}
    }

    
    .icon-dots {
	position:absolute;
	right:0px;
	top:10px;
	width:40px;
	height:40px;
	text-align:center;
	font-size:30px;
	padding-top:5px;
	
    }

}

@media (min-width: 480px) {
    .col {
	height:50%;
    }
}

@media (min-width: 992px) {
    .col {
	height:100%;
    }
}